@{
    ViewBag.Title = "Index";
}

<h2>Categories</h2>
@using (Html.BeginForm())
{
    <button id="btnGetCategories">Get Categories</button>
    <button id="btnGetCategory">Get Category</button>
    <button id="btnAddCategory">Add Category</button>
    <button id="btnUpdateCategory">Update Category</button>
    <button id="btnDeleteCategory">Delete Category</button>
    <br />
    <br />
    <input id="txtCategoryID" type="text" placeholder="Category ID" />
    <input id="txtDescription" type="text" placeholder="Category Description" />
    <br />
    <br />
    <div id="lblMessage"></div>
}

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $('#btnGetCategories').on("click", function () {
                $.ajax({
                    type: 'GET', // Ejecutar el método GET
                    url: '/api/CategoriesAPI', // Del controlador CategoriesAPI
                    dataType: 'json', // En formato json
                    cache: false, // No guardar en caché
                    success: function (data) {
                        var outPut = '';
                        for (var i = 0; i < data.length; i++) {
                            outPut += '<hr/><br/>';
                            outPut += '<b>Category ID:</b>' + data[i].CategoryID + '<br/>';
                            outPut += '<b>Description:</b>' + data[i].Description + '<br/>';
                        }
                        $('#lblMessage').html(outPut);
                    },
                    error: function (hxr, ajaxOptions, throwError) {
                        $('#lblMessage').html('Error');
                    }
                });
                return false;
            });

            $('#btnGetCategory').on("click", function () {
                var categoryID = $('#txtCategoryID').val();
                if (categoryID == "") {
                    $('#lblMessage').html('You must enter a category ID');
                    return false
                }

                $.ajax({
                    type: 'GET', // Ejecutar el método GET
                    url: '/api/CategoriesAPI/' + categoryID, // Del controlador CategoriesAPI
                    dataType: 'json', // En formato json
                    cache: false, // No guardar en caché
                    success: function (data) {
                        if (data != null) {
                            var outPut = '';
                            outPut += '<hr/><br/>';
                            outPut += '<b>Category ID:</b>' + data.CategoryID + '<br/>';
                            outPut += '<b>Description:</b>' + data.Description + '<br/>';
                            $('#lblMessage').html(outPut);
                        } else {
                            $('#lblMessage').html('Not records found');
                        }
                    },
                    error: function (hxr, ajaxOptions, throwError) {
                        $('#lblMessage').html('Error');
                    }
                });
                return false;
            });

            $('#btnAddCategory').on("click", function () {
                var description = $('#txtDescription').val();
                if (description == "") {
                    $('#lblMessage').html('You must enter a category description');
                    return false;
                }

                // Campo del Modelo: variable del  valor del textbox
                var category = { Description: description };

                $.ajax({
                    type: 'POST', // Ejecutar el método GET
                    url: '/api/CategoriesAPI', // Del controlador CategoriesAPI
                    data: category,
                    dataType: 'json', // En formato json
                    cache: false, // No guardar en caché
                    success: function (data) {
                        var outPut = '';
                        outPut += '<hr/>Recrod added<br/>';
                        outPut += '<b>Category ID:</b>' + data.CategoryID + '<br/>';
                        outPut += '<b>Description:</b>' + data.Description + '<br/>';
                        $('#lblMessage').html(outPut);
                    },
                    error: function (hxr, ajaxOptions, throwError) {
                        $('#lblMessage').html('Error');
                    }
                });
                return false;
            });

            $('#btnUpdateCategory').on("click", function () {
                var categoryID = $('#txtCategoryID').val();
                if (categoryID == "") {
                    $('#lblMessage').html('You must enter a category ID');
                    return false;
                }

                var description = $('#txtDescription').val();
                if (description == "") {
                    $('#lblMessage').html('You must enter a category description');
                    return false;
                }

                // Campo del Modelo: variable del  valor del textbox
                var category = { CategoryID: categoryID, Description: description };

                $.ajax({
                    type: 'PUT', // Ejecutar el método GET
                    url: '/api/CategoriesAPI/' + categoryID, // Del controlador CategoriesAPI
                    data: category,
                    dataType: 'json', // En formato json
                    cache: false, // No guardar en caché
                    success: function (data) {
                        var outPut = '';
                        outPut += '<hr/>The record was modified<br/>';
                        $('#lblMessage').html(outPut);
                    },
                    error: function (hxr, ajaxOptions, throwError) {
                        $('#lblMessage').html('Error');
                    }
                });
                return false;
            });

            $('#btnDeleteCategory').on("click", function () {
                var categoryID = $('#txtCategoryID').val();
                if (categoryID == "") {
                    $('#lblMessage').html('You must enter a category ID');
                    return false
                }

                $.ajax({
                    type: 'DELETE', // Ejecutar el método GET
                    url: '/api/CategoriesAPI/' + categoryID, // Del controlador CategoriesAPI
                    dataType: 'json', // En formato json
                    cache: false, // No guardar en caché
                    success: function (data) {
                        if (data != null) {
                            var outPut = '';
                            outPut += '<hr/>Record deleted<br/>';
                            outPut += '<b>Category ID:</b>' + data.CategoryID + '<br/>';
                            outPut += '<b>Description:</b>' + data.Description + '<br/>';
                            $('#lblMessage').html(outPut);
                        } else {
                            $('#lblMessage').html('Not records found');
                        }
                    },
                    error: function (hxr, ajaxOptions, throwError) {
                        $('#lblMessage').html('Error');
                    }
                });
                return false;
            });

            $(document).ajaxStart(function () {
                $('#loading').show();
            });

            $(document).ajaxStop(function () {
                $('#loading').hide();
            });
        });
    </script>


    <style type="text/css">

        #loading {
            display: none;
            background-color: gray;
            z-index: 999999;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            padding-top: 300px;
            filter: alpha(opacity=75);
            -khtml-opacity: 0.75;
            -moz-opacity: 0.75;
            opacity: 0.75;
        }
    </style>

    <div id="loading">
        <img src="~/Images/loader.gif" />
    </div>
}